body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(m.jpg);
    
    background-size: contain;
    background-position: center;
  }
  
  .container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  form {
    background: rgba(0,0,0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: rgba(9, 99, 99,9);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
}
  
  button:hover {
    background: rgba(9, 99, 89, 0.5);
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  