body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(k.jpg);
    
    background-size: contain;
    
    background-position: center;
  }
  
  nav {
    background-color:rgba(9, 99, 99,9);
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000;
    background-color:rgba(9, 99, 99,9);
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .registration-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .registration-form {
    background-color: rgba(0, 0, 0,0,0.8)!important;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.2;
    -webkit-transition: all 0.2;
    -moz-transition: all 0.2;
    -ms-transition: all 0.2;
    -o-transition: all 0.2;
}
  
  .registration-form h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    width: 300px;
    margin: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;

  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(9, 99, 99,9);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: blue;
  }
  
  section {
    text-align: center;
    margin-top: 50px;
  }
  
  footer {
    background-color: rgba(9, 99, 99,9);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  